

.bodyNavbar{
    z-index: 10;
    background-color:var(--celestePrim);
    top: 0;
    position: sticky;
    height: 100px;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    color: var(--blackPrim);
    border-radius: 0px 0px 34px 0px;
-webkit-border-radius: 0px 0px 34px 0px;
-moz-border-radius: 0px 0px 34px 0px;
box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.75);
}

.btnMenuNavbar{
    cursor: pointer;
}

.tituloNavbar{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloNavbar h1{
    font-size: 3rem;
}

.cartNavbar{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btnCart{
    cursor: pointer;
}

.divSectionLinks{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnNav{
    display: flex;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    margin: 0 20px;
    color: var(--blackPrim);
    
}
.btnNav:hover{
    background-color: var(--greyPrim); 
    font-style: italic ;
}