
.cardCartBody{
    border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
    margin-bottom: 50px;
    border: 0.1px dotted black;
    height: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.imgCartCard{
    overflow: hidden;
    height: 95%;
    border-radius: 88px 88px 88px 88px;
-webkit-border-radius: 88px 88px 88px 88px;
-moz-border-radius: 88px 88px 88px 88px;
}

.imgCartCard img{
    height: 100%;
}

.imgCartCard img:hover{
    transform: scale(1.4) ;
-webkit-transform: scale(1.4) ;
-moz-transform: scale(1.4) ;
}

.textCartCard{
    width: 40%;
    font-size: 1.5rem;
}

.textCartCard h4{
    font-size: .8rem;
}

.btnCartCard{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}