@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Barlow+Condensed:ital,wght@0,400;0,700;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif;
}


:root{
    --redPrim: #df1024;
    --greyPrim: #DCD6D7;
    --greySecond:#625A67;
    --blackPrim:#302B31;
    /* para invocar se pone var(--redPrim); */
}

body{
    background-color: var(--greyPrim);
}